html{
    position: relative;
    min-height: 100%;
}
body {
    background-color: #f8f8f8;
    /* margin-bottom: 1rem; */
}
.nav-link{
    color:white !important;
}
.sub-menu{
    font-size: 0.75em;
}
.red_item{
    color:red !important;
}
.price_cup{
    font-weight: bold;
}
.price_bottle{
    font-weight: bold;
}
.contact-block{
    background-color: inherit;
    color: white;
    padding-top: 0.4rem;
    font-size: 1em;
    border-bottom: 1px solid #635d5d;
}
.contact-block .email_info
{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.search_result{
    margin-top:2rem;
}
.contact-block .phone_info
{
    color: white;
    text-decoration: none;
}
.footer{
    position: inherit;
    bottom: 0;
    width: 100%;
}
.filter_count {
    display: none;
    text-align: center;
    border: 1px solid #dadada;
}
.card {
    border: 1px solid rgba(218, 210, 210, 0.39);
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    background-color: white;
}
.img-holder {
    text-align: center;
    max-width: 100%;
}
.img-holder img {
    height: 12rem;
    vertical-align: middle;
    max-width: inherit;
}
.description {
    color: black;
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    height: 4.5rem;
}
.info-wine {
    color: black;
    font-size: 0.8em;
    line-height: 1.5;
    border-bottom: 1px solid #969696;
    border-top: 1px solid #969696;
    font-weight: 650;
    padding-left: 0.5rem;
    height: 5.5rem;
    overflow: hidden;
    letter-spacing: 0.05em;
}

.view_button {
    text-align: center;
    margin: 1rem;
}

.filter-groups {
    font-size: 1.4em;
    line-height: 1.5;
}

.filter-block {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding-left: .5rem;
    padding-right: .5rem;
}
.param-holder {
    cursor: pointer;
}
#logo {
    text-decoration: none;
    color: white;
}
.input {
    width: 100%;
    height: 3rem;
    padding: 2px 2px;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: white;
}
.slider_elements {
    margin-bottom: 1rem;
}
.slider
{
    width: 92% !important;
    margin-left: 4%;
}
.ajax-loader {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding-top: 300px;
    vertical-align: middle;
    color: red;
    display: none;
}
#wineList {
    display: none;
    line-height: 1.5;
    width: 100%;
    position: absolute;
    padding-right: 2rem;
    z-index: 100;
}
#wineList ul {
    list-style: none;
    background-color: white;
    padding: 1%;
    margin-bottom: -1rem;
}
#wineList ul a {
    text-decoration: none;
    color: black;
}
.price {
    font-size: 16px;
    text-align: center;
    height: 1.5rem;
}
.especial_wines{
    color: black;
    margin-left: 1%;
    font-weight: 650;
    font-size: 0.8em;
    letter-spacing: .05em;
}
.especial_wines:hover{
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.mobile-contact{
    border-top: 1px solid rgba(138, 128, 128, 0.5);
    font-size: .75em;
}
.mobile-contact a{
    color: white;
    display: inline-block;
    padding: 1%
}
.social-icons{
    font-size: 18px;
    display: inline-block;
    background: #a53030;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
}
.social-icons:hover{
    cursor: pointer;
    color: white;
}
#logo_img{
    height: 2rem;
}
#image_wine{
    width: inherit;
}
.column{
    color: #b3b3b3;
    font-weight: 400;
}
@media (max-width:991px) {
    .carousel-inner{
        height: 15rem !important;
    }
}
.region_name{
    text-align: center;
}
.name-block{
    font-size: 1.5em;
    text-align: left;
}
#sort_contain{
    text-align: left;
}
/* #img_block{
    width: 6rem;
} */
#coravin-modal{
    height: 2rem;
}
.card-vine-header{
    height: 2rem;
}
.card-vine-header img{
    max-width: 6rem;
    margin-left: 0.2rem;
}
.volume_info{
    float: right;
    margin-top: .2rem;
}
#type_wines_block{
    font-size: 0.8em;
}
