#bar {
    color: rgb(255, 131, 0)
}
.filter_count {
    display: none;
    text-align: center;
    border: 1px solid #dadada;
}
.card {
    border: 1px solid rgba(218, 210, 210, 0.39);
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    background-color: white;
}
.img-holder {
    text-align: center;
}
.img-holder img {
    height: 15rem;
    vertical-align: middle;
}
.description {
    color: black;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.5;
    height: 3rem;
    overflow: hidden;
}
.info-wine {
    color: rgb(56, 11, 125);
    font-size: 14px;
    line-height: 1.5;
    border-bottom: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
    font-weight: bold;
}
.view_button {
    text-align: center;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ff7715;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}
.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.filter-groups {
    font-size: 1.4em;
    line-height: 1.5;
}
#vines {
    background-color: #f8f8f8;
}
.filter-block {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.param-holder {
    cursor: pointer;
}
#logo {
    text-decoration: none;
    color: white;
}
.input {
    width: 100%;
    height: 3rem;
    padding: 2px 2px;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: white;
}
.slider_elements {
    margin-bottom: 1rem;
}
div.slider_elements .ui-slider-range {
    background-color: red;
}
.ui-widget-content .ui-state-default { 
    background: #b71c1c;
    border-radius: 1rem;
}
.ajax-loader {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding-top: 300px;
    vertical-align: middle;
    color: red;
    display: none;
}
#wineList {
    display: none;
    line-height: 1.5;
}
#wineList ul {
    list-style: none;
    background-color: white;
    padding: 1%;
}
#wineList ul a {
    text-decoration: none;
    color: black;
}
#wine_name {
    width: 100%;
    height: 3rem;
    padding: 2px 2px;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: white;
    margin-top: 0.5rem;
}
.price {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    color: black;
    line-height: 1.5;
}
