body {
    padding-top: 54px;
}

@media (min-width: 1024px) {
    body {
        padding-top: 56px;
    }
    .carousel-inner{
        height: 40rem;
    }
}
/* .carousel-item {
  height: 50rem;
  height: auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.wrapper {
  width:100%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block !important;
}
